*{
    margin: 0;
    box-sizing: border-box;
}
.menu-container{
    color: white;
    background-color: rgb(158, 158, 249);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu{
    border: 1px solid black;
    width: 900px;
    display: flex;
    justify-content: space-between;
}