*{
    margin: 0;
    box-sizing: border-box;
}
.menu-container{
    color: white;
    background-color: rgb(158, 158, 249);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu{
    ;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.account{
    display: flex;
    justify-content: space-around;
}
.log-in{
    margin-left: 1rem;
}
.header-container{
    display: flex;
    justify-content: center;
    background-color: rgb(219, 219, 247);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 900px;
    height: 300px;
    color: rgb(63, 136, 200);
}
.photo-grid-container{
    display: flex;
    justify-content: center;

}
.photo-grid{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 900px;
    flex-wrap: wrap;
    flex-direction: row;
}
.photo-grid-item {
    width: 300px;
    height: 300px;
    
    

}